[submodule "web/vendor/jq-console"]
	path = web/vendor/jq-console
	url = https://github.com/replit/jq-console
[submodule "web/vendor/codemirror"]
	path = web/vendor/codemirror
	url = https://github.com/marijnh/CodeMirror
